<% provide(:title, "Password Recovery")
   provide(:page_size, 'small') %>

<%= form_for(:password_reset, url: password_resets_path) do |f| %>
<table>
  <tr class="form">
    <td>
      <p><b><%= f.label :email, 'E-mail' %></b></p>
    </td>
    <td>
      <%= f.email_field :email %>
    </td>
  </tr>
</table>

<div class="cell1">
  <span class="footer">
    <%= f.submit 'Submit' %>
  </span>
</div>
<% end %>
