<tr class="cell4">
  <td colspan="2">
    <%= link_to topic.title, '#', class: "topic_title" %>
    <p class="post3">
      Placeholder
    </p>
  </td>
  <td ">
    <p class="post4">
      <%= link_to "reply", '#' %>
      <br />
      5/22/2015 03:05 PM
    </p>
  </td>
</tr>
