<%= render 'shared/pagination_header', collection: @topics %>

<tr class="cell3">
  <td colspan="2">
    <p style="padding-left: 3px;"><b>Topic</b></p>
  </td>
  <td width="125px">
    <b>Replies</b>
  </td>
</tr>

<%= render @topics %>

<%= render 'shared/pagination_footer', collection: @topics %>
