<%= render 'shared/pagination_header', collection: @topics %>

<table>
  <tr class="cell3">
    <th colspan="2">
        <b>Topic</b>
    </th>
    <th width="125px">
      <b>Replies</b>
    </th>
  </tr>
<%= render @topics %>
</table>

<%= render 'shared/pagination_footer', collection: @topics %>
