<tr class="cell2">
  <td colspan="100%">
    <%= will_paginate @topics, page_links: false, link_separator: ' | ',
        previous_label: "Prev Page", next_label: "Next Page" %>
    <% if @topics.total_pages == 1 %>
      <div class="pagination">
        <span class="previous_page disabled">
          Prev Page
        </span>
         |
        <span class="next_page disabled">
          Next Page
        </span>
    <% end %>
  </td>
</tr>

<tr class="cell3">
  <td colspan="2">
    <p style="padding-left: 3px;"><b>Topic</b></p>
  </td>
  <td width="125px">
    <b>Replies</b>
  </td>
</tr>

<%= render @topics %>

<tr class="cell1">
  <td colspan="100%" class="footer">
    <%= will_paginate @topics %>
    <% if @topics.total_pages == 1 %>
      <div class="pagination">
        <span class="previous_page disabled">
          &#8592; Previous
        </span>
        <em class="current">
          1
        </em>
        <span class="next_page disabled">
          Next &#8594;
        </span>
      </div>
    <% end %>
  </td>
</tr>
