<%= render 'shared/pagination_header', collection: @topics %>

<table>
  <tr class="cell3">
    <th class="topic-display">
      <b>Topic</b>
    </th>
    <th class="topic-info">
      <b>Replies</b>
    </th>
  </tr>
<%= render @topics %>
</table>

<%= render 'shared/pagination_footer', collection: @topics %>
