<% provide(:title, 'Moderation Queue') %>
  <div class="cell2">
    Flagged Posts
  </div>
  <%= render 'placeholder' if @flagged_posts.count == 0 %>
  <% @flagged_posts.each do |post| %>
    <%= render partial: 'posts/flagged_post',
               locals: { post: post, topic: post.topic } %>
  <% end %>
  <div class="cell1">
    &nbsp;
  </div>
