  <tr class="cell3">
    <td colspan="2" class="cell3">&nbsp;
      <%= sanitize_date(pm_post.created_at) %> &nbsp;|&nbsp;
      <b>Anonymous</b> said:
    </td>
  </tr>
  <tr class="cell4">
    <td colspan="2" class="cell4">
      <p class="post">
        <%= pm_post.content %>
      </p>
    </td>
  </tr>
