  <div class="cell3">
      <a name="p<%= pm_post.id %>"></a>
      &nbsp;
      <%= format_date(pm_post.created_at) %> &nbsp;|&nbsp;
      <b><%= who_posted(pm_post) %></b> said:
  </div>
  <div class="cell4">
      <p class="post">
        <%= pm_post.content %>
      </p>
  </div>
