<% provide(:title, 'My Account')
   provide(:width, '460') %>
<tr class="cell2">
  <td colspan="2" align="center">
    Settings
  </td>
</tr>
<tr class="cell4">
  <td align="center">
    <p class="info">
      <b><%= link_to 'View my private messages', pm_topics_path %></b>
    </p>
  </td>
</tr>
<tr class="info">
  <td align="center">
    <p class="info">
      <b><%= link_to 'Reset my password', edit_password_reset_path(0) %></b>
    </p>
  </td>
</tr>
<tr class="cell1">
  <td class="footer">
    &nbsp;
  </td>
</tr>

