  <div class="cell2">
      <%= f.label :content, "Message" %>
  </div>
  <div class="info-td-no-border">
    <p align="center">
      <%= f.text_area :content, cols: 80, rows: 20 %>
    </p>
  </div>
