  <tr class="cell2">
    <td colspan="3">
      <%= f.label :content, "Message" %>
    </td>
  </tr>
  <tr class="info">
    <td colspan="3">
      <p align="center">
        <%= f.text_area :content, cols: 60, rows: 20 %>
      </p>
    </td>
  </tr>
