<% if object.errors.any? %>
  <div class="cell2">
      Errors
  </div>
  <div class="info">
      <p>
        <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li>
            <b><%= msg %>.</b>
          </li>
        <% end %>
        </ul>
      </p>
  </div>
<% end %>
