  <tr class="info">
    <td colspan="100%" class="no_border">
      <p align="center">
        <%= f.check_box :handshake, { checked: false }, true, false %>
        <b>Offer to exchange e-mails?</b>
      </p>
    </td>
  </tr>
