  <tr class="cell1">
    <td colspan="3" class="footer">
      <p align="center">
        <%= f.submit "Post",    name: 'submit' %>
        <%= f.submit "Preview", name: 'preview', disabled: true %>
      </p>
    </td>
  </tr>
