<% provide(:title, 'FAQ')
   provide(:page_size, 'small') %>

<% 3.times do %>
  <div class="info">
    <p class="post">
      <b>Q: <%= word_wrap(fake_question) %></b>
    </p>
  </div>
  <div class="cell4">
    <p class="post">
      <b>A:</b> <%= word_wrap(fake_answer) %>
    </p>
  </div>
<% end %>

<div class="cell1">
  <span class="footer">
    &nbsp;
  </span>
</div>
