<tr class="info">
  <td>
    <p class="post">
      <b>Q: Is there any possibility of getting a room for me and
      my Hammie (Fiona) @ Wes next year? Hammie lovers??</b>
    </p>
  </td>
</tr>
<tr class="cell4">
  <td>
    <p class="post">
      <b>A:</b> no
    </p>
  </td>
</tr>
