<% provide(:title, 'FAQ')
   provide(:width, '460') %>
<div class="info">
  <p class="post">
    <b>Q: Is there any possibility of getting a room for me and
    my Hammie (Fiona) @ Wes next year? Hammie lovers??</b>
  </p>
</div>
<div class="cell4">
  <p class="post">
    <b>A:</b> no
  </p>
</div>
<div class="cell1">
  <span class="footer">
    &nbsp;
  </span>
</div>
