<% provide(:title, "Statistics")
   provide(:width, "460") %>
<div class="cell4">
  <p class="message">
    <pre># TODO</pre>
  </p>
</div>
<div class="cell1">
  <span class="footer">
    &nbsp;
  </span>
</div>
