<%  provide(:title, "Statistics")
    provide(:width, "460") %>
<tr class="cell4">
  <td>
    <p>
      <pre># TODO</pre>
    </p>
  </td>
</tr>
<tr class="cell1">
  <td class="footer">
    &nbsp;
  </td>
</tr>
