<%  provide(:title, 'Terms of Use')
    provide(:width, '620') %>
<div class="cell4">
<p class="post">
WesACB is provided as a free service for Wesleyan students, by Wesleyan 
students. Unlike many Internet forums, WesACB is completely anonymous and 
almost completely unmoderated. In order to ensure that this site remains a 
safe, healthy, viable channel of discourse for the Wesleyan community, we 
ask that you follow a few rules. By using any service provided by this 
website, you agree to respect and abide by these rules. These are:
<br />
<br />
<b>1. No name-checking or harassment.</b> This means: do not defame, insult, or 
personally attack a current or recent Wesleyan student. Likewise, do not 
infringe upon the privacy of a current or recent Wesleyan student. It's okay to 
speak unfavorably of a public performance, work or art, or body of work 
undertaken by a student, as long as you don't branch off into attacking that 
student on the basis of hir character. It's okay to speak unfavorably of an 
institution (such as a fraternity, a student group, or a branch of student 
government), but don't single out individuals. Do not try to circumvent this 
rule by dropping hints about somebody's identity without actually saying who 
they are. If you're unsure whether your post qualifies as shittalking or 
harassment, don't post it.
<br />
<br />
Name threads (e.g. "Jane Smith: straight, single?", "Who are the hottest 
freshmen?") are almost universally a bad idea, even when they are intended 
to be positive.  Please do not post them, as they will be removed.
<br />
<br />
<b>2. No robots or spam.</b> This means no viagra, free iPods, or ch3ap c0ach 
h4ndb4gs; it also means no automated crawling of our servers. If you're a 
student and you'd like to promote your Memorial Chapel show, no matter how 
shamelessly, go ahead.
<br />
<br />
3. Do not post or request anything that violates United States law.
<br />
<br />
4. WesACB is not intended for visitors under 18 years of age. Accordingly, you 
may not view or contribute to this forum if you are under 18 years old.
<br />
<br />
Posts are liable to be removed at any time and for any 
reason; this forum is moderated according to the spirit of the law, not the 
letter.
<br />
<br />
If you'd like a post to be removed, click the "Report" link 
followed by the "Report This Message" button on the subsequent page to have it 
sent to a queue for moderation. You don't have to be logged in to report posts.
<br />
<br />
We are neither sponsored by nor in any way affiliated with the administration
of Wesleyan University.
</p>
</div>
<div class="cell1">
  <span class="footer">
    &nbsp;
  </span>
</div>
