/* main */

body {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  color: #000000;
  background-color: #FFFFFF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: justify;
  font-size: 13px;
  a {
    text-decoration: underline;
    color: #000000;
    &:hover {
      text-decoration: underline;
    }
  }
}

table {
  margin: 0;
  width: 100%;
  empty-cells: show;
  border-spacing: 0px;
  border-collapse: none;
  border: #F8F8F8 0px solid;
  -moz-border-radius: 17px 17px 17px 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px 17px 17px 17px;
}

.content {
  margin: 0 auto;
  -moz-border-radius: 17px 17px 17px 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px 17px 17px 17px;
  -moz-box-shadow: 0 0 16px #B4B4B4;
  -webkit-box-shadow: 0 0 16px #B4B4B4;
  box-shadow: 0 0 16px #B4B4B4;
}

div.content {
  display: table;
  width: 695px;
}

form {
  margin: 0;
}

.site_title {
  font-size: 56px;
  font-weight: bold;
  font-family: "Palatino", "Book Antiqua", "Georgia", serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 30px #FFFFFF;
  a, a.hover, a.visited, a.active {
    text-decoration: none !important;
  }
}

/* links */

a {
  &:hover, &:visited, &:active {
    text-decoration: none;
    color: #000000;
  }
  &.crimson {
    color: #cc0000;
    &:hover, &:visited, &:active {
      color: #cc0000;
    }
  }
}

.cell1 a, .cell2 a, .cell1 a:visited, .cell2 a:visited {
  color: #FDFDFD;
  font-weight: bold;
  text-decoration: none;
}

.cell1 a:hover, .cell2 a:hover, .cell1 a:active, .cell2 a:active {
  color: #EE0000;
  font-weight: bold;
  text-decoration: none;
}

/* headers and footers */

.header {
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
}

.footer {
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

.footer-left {
  -webkit-border-bottom-left-radius: 7px;
}

.footer-right {
  -webkit-border-bottom-right-radius: 7px;
}

.header_link:not(:last-child):after {
  content: ' \00a0|\00a0 ';
}

/* div/table cells */

.cell1 {
  color: #FDFDFD;
  background-color: #313131;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.cell1 {
  &:first-child {
    -moz-border-radius: 17px 17px 0 0;
    -webkit-border-radius: 17px 17px 0 0;
    border-radius: 17px 17px 0 0;
  }
  &:last-child {
    -moz-border-radius: 0 0 17px 17px;
    -webkit-border-radius: 0 0 17px 17px;
    border-radius: 0 0 17px 17px;
  }
}

.cell2 {
  color: #FDFDFD;
  background-color: #646464;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.cell3 {
  background-color: #F8F8F8;
  font-size: 13px;
  color: #222222 !important;
  td {
    border-top: 2px solid #888 !important;
    border-bottom: 1px solid #DDDDDD !important;
  }
  th {
    border-top: 2px solid #888 !important;
    border-bottom: 1px solid #DDDDDD !important;
    text-align: left;
    &:first-child {
      padding-left: 3px;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

div.cell3 {
  border-top: 2px solid #888 !important;
  border-bottom: 1px solid #DDDDDD !important;
}

.cell4 {
  background-color: #FFFFFF;
  font-size: 13px;
}

.cell5 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #DBDBDB;
  font-size: 13px;
}

tr.info, div.info {
  background-color: #F8F8F8;
  font-size: 13px;
}

.info td, div.info {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.info td.no_border, .info-td-no-border {
  background-color: #F8F8F8;
  font-size: 13px;
  border-top: 1px solid #F8F8F8;
  border-bottom: 1px solid #F8F8F8;
}

.sysnote {
  background-color: red;
  font-size: 13px;
  font-weight: bold;
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

.search {
  display: inline;
  padding-left: 30px;
  height: 32px;
  line-height: 32px;
}

/* text blocks */

.topic_title {
  padding-left: 3px;
  padding-top: 6px;
  font-size: 15px;
  font-family: Helvetica, serif;
  line-height: 15px;
  font-weight: bold;
  color: #000000;
  text-decoration: none !important;
  a:link {
    color: #000000;
    text-decoration: none !important;
  }
}

.poster {
  color: #888888;
  font-size: 28px;
  padding: 15px 25px;
  font-family: "Georgia", serif;
  text-align: center;
}

.quote {
  margin-left: 0px;
  padding-top: 3px;
  padding-left: 6px;
  padding-right: 110px;
  border-left: 2px solid #999999 !important;
  font-size: 12px;
  font-style: italic;
  font-family: georgia;
  color: #333333 !important;
  text-align: left !important;
  a {
    font-family: verdana !important;
    font-size: 11px !important;
  }
}

div.title {
  font-size: 300%;
  font-weight: bold;
  text-align: center;
}

.handshake-sent {
  color: #008000;
}

.handshake-declined {
  color: #8B0000;
}

p {
  &.post {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.4;
    font-family: helvetica, arial, sans-serif !important;
    font-size: 13px;
    text-align: left !important;
  }
  &.post2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    line-height: 1.4;
    font-family: helvetica, arial, sans-serif !important;
    font-size: 13px;
    text-align: left !important;
  }
  &.post3 {
    padding-bottom: 18px;
    padding-right: 18px;
    padding-left: 18px;
    line-height: 1.4;
    font-family: helvetica, arial, sans-serif !important;
    font-size: 13px;
    text-align: left !important;
  }
  &.post4 {
    font-family: helvetica !important;
    font-size: 13px;
    text-align: left !important;
  }
  &.info {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* flash */

.container {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

div.containter div.alert.alert-recaptcha_error {
  display: none;
}


/* internal */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
