  <div class="info">
    <span class="info-td-no_border">
      <p align="center">
        <%= f.check_box :handshake_sent, { checked: false }, true, false %>
        <b>Offer to exchange e-mails?</b>
      </p>
    </span>
  </div>
