  <div class="cell2">
    Exchange E-mails
  </div>
  <div class="info">
    <%= form_for @pm_topic, url: edit_pm_topic_path(@pm_topic.id),
                            method: :patch do |f| %>
    <p class="post">
      <span class="handshake-sent">
        <b>
        Your correspondent has offered to exchange e-mails.
        Will you reciprocate?
        </b>
      </span>
      <br />
      <br />
      If you choose to do so, you'll lose your anonymity -- but so will
      the person you're talking to.
    </p>
    <p align="center">
      <%= f.submit "Exchange e-mails", name: @user_handshake.to_s %>
      <%= f.submit "No thanks",        name: 'handshake_declined' %>
    </p>
  <% end %>
  </div>
