  <tr class="<%= info_cell %>">
    <td>
      <p class="info">
        <% if unread?(pm_topic) %><b><% end %>
        <%= link_to pm_topic.title, pm_topic_path(pm_topic) %>
        <% if unread?(pm_topic) %></b><% end %>
      </p>
    </td>
    <td>
      <p align="center">
        <%= correspondent_for(pm_topic) %>
      </p>
    </td>
    <td>
      <p align="center">
        <%= format_date(pm_topic.last_posted) %>
      </p>
    </td>
  </tr>
