  <tr class="list">
    <td>
      <p class="info">
        <%= link_to pm_topic.title, pm_topic_path(pm_topic),
              class: unread_class?(pm_topic) %>
      </p>
    </td>
    <td>
      <p class="message">
        <%= correspondent(pm_topic) %>
      </p>
    </td>
    <td>
      <p class="message">
        <%= format_date(pm_topic.last_posted) %>
      </p>
    </td>
  </tr>
