<% provide(:title, "Private Messages") %>

<table>
<tr class="cell2">
  <th>Title</th>
  <th>Correspondent</th>
  <th>Last Response</th>
</tr>
<%= render (@pm_topics.count > 0 ? @pm_topics : 'placeholder') %>
</table>

<%= render 'shared/pagination_footer', collection: @pm_topics %>
