<p class="footer-links">
  <%= link_to "Terms of Use", terms_path %> |
  <%= link_to "FAQ",          faq_path %> |
  <%= link_to "Statistics",   stats_path %>
  <br />

  Page generated in <%= benchmark_result %> seconds
</p>
