<p>
  <div class="site_title"><a href="board.php?board=1" class="site_title">wes<font color="#c$
</p>
<% unless yield(:no_title) %>
<p>
  <font size="4"><center><b><%= yield(:title) %></b></center></font>
</p>
<% end %>
