<p></p>
  <div class="site_title">
    <%= link_to "tik", root_path %><%= link_to "tak", root_path, class: "crimson" %>
  </div>
<% unless yield(:title).empty? %>
  <div class="page_title"><%= yield(:title) %></div>
<% end %>
<p></p>
