<p></p>
  <div class="site_title">
    <%= link_to "tik", root_path %><%= link_to "tak", root_path, class: "crimson" %>
  </div>
<% unless yield(:title).empty? %>
  <font size="4"><center><b><%= yield(:title) %></b></center></font>
<% end %>
<p></p>
